// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
@import compass/utilities.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
form.bp
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.one-col
  #container
    +container

    #header
      +column(24)
      position: relative

      h1
        +replace-text("header-logo.png")
        width: 484px
        height: 32px
        margin-top: 18px

      #header_links
        +horizontal-list
        position: absolute
        top: 2em
        right: 0px
        a
          +hover-link
      
    #content

      #summary_row_1
        +column(24, true)

        #character_attributes
          +column(8)
      
        #abilities_summary
          +column(8)
    
        #combat_summary
          // true means it's the last column in the row
          +column(8, true)

      #summary_row_2
        +column(24, true)

        #health_summary
          +column(8)
  
        #magic_summary
          +column(8)
  
        #movement_summary
          +column(8, true)
  
      #summary_row_3
        +column(24, true)

        #saves_summary
          +column(8)

        #top_skills
          +column(8)

        #favorite_feats
          +column(8, true)

      #actions
        +column(24, true)
        +horizontal-list
        a
          +hover-link

    #footer
      +column(24, true)
      margin-top: 20px

      #footer_links
        +horizontal-list
        a
          +hover-link
