#abilities_summary
  %h2 Abilities
  %table.infoTable
    %tr
      %th
      %th Score
      %th Mod

    - %w{STR DEX CON INT WIS CHA}.each do |abbrev|
      %tr
        %th= abbrev
        %td.numeric= character.prop_value abbrev
        %td.numeric= as_bonus(character.prop_modifier abbrev)
