#abilities_summary
  %h2 Abilities
  %table.infoTable
    %tr
      %th
      %th Score
      %th Mod
      %th Comments
    %tr
      %th STR:
      %td 20
      %td +5
      %td.comments
    %tr
      %th DEX:
      %td 15
      %td +2
      %td.comments -2 Temporary Damage
    %tr
      %th CON:
      %td 17
      %td +3
      %td.comments
    %tr
      %th INT:
      %td 8
      %td -1
      %td.comments
    %tr
      %th WIS:
      %td 14
      %td +2
      %td.comments
    %tr
      %th CHA:
      %td 8
      %td -1
      %td.comments
