%h2 Your characters await!

%ul#characters
  - for character in @characters
    %li.character
      .content
        %h2= link_to h(character.name), character
        %p#character_class_summary= char_class_summary character

.tools
  = link_to 'New character', new_character_path
